@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@media (min-width: 320px) and (max-width: 991px){
    body{
        padding-left: 36px;
        font-family: 'Roboto';
     }
     body .heading{
        height: 43px;
     }
     body .container {
        display: flex;
        flex-direction: column;
     }
    .container .heading h1{
        font-size: 31px;
        font-style: normal;
        font-weight: bold;
        font-family: 'Roboto Slab';
        margin-bottom: 26,36px;
        color: #000;
        width: 270px;
    }
    .menu{
        width: 170px;
    }
    .menu .m1 h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: -5px;
        color: #1E4681;
    }
    .menu .m1{
        margin-bottom: 27px;
    }
    .menu .m2 h3{
        width: 180px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: -5px;
        color: #1E4681;
    }
    .menu .m2{
        margin-bottom: 27px;
    }
    .menu .m3 h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: -5px;
        color: #1E4681;
    }
    .menu .m2{
        margin-bottom: 27px;
    }
    .menu .m1 p{
        width: 260px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        margin-bottom: 40px;
        color: #000;
    }
    .menu .m2 p{
        width: 250px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        margin-bottom: 40px;
        color: #000;
    }
    .menu .m3 p{
        width: 250px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        margin-bottom: 40px;
        color: #000;
    }
    .article{
        margin-top:100px;
        width: 420px;
    }
    .mainart ul{
        padding-left: 20px;
        font-size: 15px ;
    }
    .article h1{
        font-size: 31px;
    }
}


@media (min-width:992px) and (max-width:1279px) {
    body {
        padding-left: 32px;
        font-family: 'Roboto';
    }
    .heading{
        margin-left: 50px;
    }
    body .menu{
        display: flex;
       
    }
    .container .heading h1{
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        margin-bottom: 80px;
    }
    .menu .m1{
        width: 270px;
        margin-left: 50px;
    }
    .menu .m1 h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: -5px;
        color:#1E4681;
    }
    .menu .m2{
        width: 310px;
        margin-left: 50px;
    }
    .menu .m2 h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        color: #1E4681;
        margin-bottom: -5px;
    }

    .menu .m3{
        width:270px ;
        margin-left: 50px;
    }
    .menu .m3 h3{
        font-family: 'Roboto';
        font-style: normal;
        font-size: 25px;
        margin-bottom: -5px;
        color: #1E4681;
    }
    .menu .m1 p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        margin-bottom: 14px;
        color: #000;
    }
    .menu .m2 p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        margin-bottom: 14px;
        color: #000; 
    }
.menu .m3 p{
       font-family: 'Roboto';
       font-style: normal;
       font-weight: normal;
       font-size: 21px;
       margin-bottom: 14px;
       color: #000;
}
.article{
       width: 640px;
       margin-top: 200px;
}
.article h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 32px;
    color: #000;
    margin-left: 50px ;
    margin-bottom: 30px;
}
.article .mainart{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: #000;
    margin-left: 20px;
}
}
@media (min-width:1280px) {
.container .heading h1{
        font-size: 51px;
        font-style: normal;
        font-weight: bold;
        font-family: 'Roboto Slab';
        color: #000;
        margin-left: 126px;
}
.menu{
    display: flex;
    margin-top: 80px;
}
.menu  h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: -5px;
    color: #1E4681;
}
.menu .m1{
    margin-left: 126px;
}
.menu .m1 p{
    width: 190px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 40px;
    color: #000;
}
.menu .m2{
    margin-left: 126px;
}
.menu .m2 p{
    width: 240px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 40px;
    color: #000;
}
.menu .m3{
    margin-left: 126px;
}
.menu .m3 p{
    width: 260px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 40px;
    color: #000;
}
.article h1{
    font-size: 51px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Roboto Slab';
    margin-top: 100px;
    color: #000;
    margin-left: 126px;
} 
.article .mainart{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: #000;
    margin-left: 126px;
    width: 670px;
}
}

footer{
    background-color: #000;
    height: 390px;
    width: 100%;
}


.foot-menu{
    position: relative; 
    padding: 50px;
}

 .contact{
    position: absolute;
    top: 40%;
    right: 10%;
}
.num img:first-child{
    margin-right: 10px;
    margin-top: 3px;
}
.email{
    margin-top: 15px;
}
.contact .email .env{
    margin-right: 10px;
    margin-top: 3px ; 
} 
.copyright{
    position: absolute;
    top: 300px;

}

.media{
    display: ;
    margin-top: 24px;
}
