@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (min-width: 1026px) and (max-width: 1282px) {
    .course:nth-child(9) {
        display: none;
    }
}
@media(min-width:1280px) {

    main .title {
        font-size: 55px;
        font-family: "Roboto Slab";
        margin-bottom: 119px;
        margin-left: 38px;
    }
 
    .courses {
        display: flex;
        flex-direction: row;
        font-family: "Roboto";
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 35px;
        row-gap: 42px;
    }
    .course {
        width: 399px;
        height: 328px;
    }

    .course .course-inner {
        width: 399px;
        height: 328px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .course .course-inner .text {
        margin-left: 21px;
        margin-top: 7px;
    }
    .course .course-inner img {
        width: 399px;
        height: 160px;
    }
    .course .course-inner .text h2 {
        font-size: 30px;
        line-height: 39px;
        font-weight: bold;
        margin: 0;
    }
    .course .course-inner .text p {
        margin: 32px 0 0 -2px;
        font-size: 25px;
        line-height: 32.5px;
    }
    .course .course-inner .last-text {
        margin-top: 12px;
        margin-left: 20px;
    }
    .course .course-inner .last-text h2 {
        line-height: 29.1px;
        margin: 0;
    }
    .course .course-inner .last-text p {
        margin: 8px 0 0 -1px;
    }

}

@media (min-width:992px) and (max-width:1279px) {

    main .title {
        font-size: 32px;
        font-family: "Roboto Slab";
        margin-bottom: 109px;
        margin-left: 22px;
    }
    .courses {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: "Roboto";
        flex-wrap: wrap;
    }
    .course {
        width: 231.09px;
        height: 189.97px;
        margin-right: 21.43px;
        margin-bottom: 25px;
    }

    .course .course-inner {
        background: #fff;
        width: 231.09px;
        height: 189.97px;
        border-radius: 17.375px;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    }
    .course .course-inner .text {
        margin-top: 2.37px;
        margin-left: 12px;
    }
    .course .course-inner img {
        width: 231.09px;
        height: 92.67px;
    }
    .course .course-inner .text h2 {
        font-size: 17px;
        line-height: 22.1px;
        margin: 0;
        font-weight: bold;
    }
    .course .course-inner .text p {
        margin: 21.53px 0 0 0;
        font-size: 14px;
        line-height: 18.2px;
    }
    .course .course-inner .last-text {
        margin-top: 5.5px;
        margin-left: 11px;
    }
    .course .course-inner .last-text h2 {
        line-height: 16.49px;
        margin: 0;
    }
    .course .course-inner .last-text p {
        margin: 5px 0 0 0;
    }

}

@media (min-width:320px) and (max-width:991px)
{

    main .title {
        font-size: 26px;
        font-family: "Roboto Slab";
        margin-bottom: 35.66px;
        margin-left: 34px;
    }
    .courses {
        display: flex;
        flex-direction: column;
        font-family: "Roboto";
        align-items: center;
    }
    .course {
        width: 185.92px;
        height: 152.84px;
        margin-bottom: 24.16px;
    }
    .course:nth-child(9) {
        display: none;
    }
    .course .course-inner {
        background: #fff;
        width: 185.92px;
        height: 152.84px;
        border-radius: 13.9792px;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    }
    .course .course-inner .text {
        margin-left: 9px;
        margin-top: 3px;
    }
    .course .course-inner img {
        width: 185.92px;
        height: 74.56px;
    }
    .course .course-inner .text h2 {
        font-size: 14px;
        line-height: 16px;
        margin-top: 3.7px;
        font-weight: 700;
        margin: 0;
    }
    .course .course-inner .text p {
        margin: 14.72px 0 0 0;
        font-size: 12px;
        line-height: 16px;
    }
    .course .course-inner .last-text {
        margin-top: 3.5px;
        margin-left: 10px;
    }
    .course .course-inner .last-text h2 {
        line-height: 14px;
        margin-bottom: 5px;
    }
    .course .course-inner .last-text p {
        margin: -3px 0 0 -1px;
    }

}